<!DOCTYPE html>
<html>
   <head>
      <title>Hello</title>
      <meta charset="utf-8" />
   </head>
   <body>
     <h1>Hello and please view the users!</h1>
     <h1>You can view, edit, and delete</h1><br><br>
     <ul>
	     {% for user in users %}
	     <li><a  href="/admin/modifyUser/{{ user.username }}/{{ user.password }}/{{ user.full_name }}">{{ user.username }}</a> <a href="/admin/delete/{{ user.username }}"> Delete</li>
	     {% endfor %}
     </ul>
     <a href="/admin/addUser">Add User</a>
     <br>
    <a href="/mainMenu">Return to main menu</a>
    <br>
    <a href="/logout">Logout</a>
   </body>
</html>
